@model CoreP1.Areas.User.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout3.cshtml";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Profil Sayfası</h4>
                        <p class="card-description">
                           Güncelleme İşlemleri
                        </p>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputName1">Adınız</label>
                                @Html.TextBoxFor(x=>x.Name,new{@class="form-control"})
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Soyadınız</label>
                                @Html.TextBoxFor(x=>x.Surname,new{@class="form-control"})
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword">Şifreniz</label>
                               <input class="form-control" type="text" name="Password" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">Şifre Tekrar</label>
                                <input class="form-control" type="text" name="PasswordConfirm" />
                            </div>
                            <div class="form-group">
                                <label>Resim Yükle</label>
                                <input type="file" name="Picture">
                            </div>
                            <button class="btn btn-primary mr-2">Onayla</button>
                            <a href="/User/Default/Index" class="btn btn-light">İptal</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <!-- partial -->
</div>